@font-face {
  src: url("../fonts/Poppins-Regular.ttf");
  font-family: Poppins;
}

@font-face {
  src: url("../fonts/Poppins-Bold.ttf");
  font-family: PoppinsBold;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins;
  font-weight: 500;
  overflow-x: hidden;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.nav {
  top: 0;
  position: relative;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  top: 0;
  margin-bottom: 15px;
  margin-top: 12px;
  padding-bottom: 5px;
  width: 100%;
  background-color: #fff;
  /**
    TODO:  make this margin left align with other page content and store in a variable, increase for larger screens
    */
}

.nav__logo {
  padding-top: 24px;
  margin-left: 20px;
}

.nav__logo .logo {
  width: 100%;
}

.nav__main {
  display: none;
}

.nav__hamburger {
  position: absolute;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 18px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 25px;
}

.nav__hamburger .hamburger {
  width: 24px;
  background-color: #9e9aa7;
  height: 3px;
}

.nav__hamburger .hamburger::before {
  position: absolute;
  top: 9px;
  width: 24px;
  height: 3px;
  content: "";
  background-color: #9e9aa7;
}

.nav__hamburger .hamburger::after {
  position: absolute;
  top: -9px;
  width: 24px;
  height: 3px;
  content: "";
  background-color: #9e9aa7;
}

.mob-nav {
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin: auto;
}

.mob-nav ul {
  margin: auto;
  background-color: #3b3054;
  border-radius: 12px;
  width: 85%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mob-nav li {
  margin: 15px 12px;
  color: #fff;
  font-weight: 700;
  padding: 0;
}

.mob-nav li > .links {
  color: #fff;
  text-decoration: none;
}

.mob-nav .line {
  width: 90%;
  height: 2px;
  background-color: #bfbfbf;
}

.btn--mob {
  width: 250px;
  padding: 12px;
  border-radius: 1.3rem;
  font-size: 18px;
}

.btn-getStarted {
  width: 180px;
  padding: 16px;
  border-radius: 1.7rem;
  font-size: 18px;
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.intro__container__text {
  text-align: center;
  margin: 5px;
}

.intro__container__text .heading {
  font-size: 2.7rem;
  font-family: PoppinsBold;
  color: #232127;
  line-height: 55px;
}

.intro__container__text .content {
  color: #9e9aa7;
  margin: 8px 8px 35px 8px;
}

.intro__container__mockup {
  width: 100%;
}

.intro__container__mockup .intro-img {
  width: 140%;
  position: relative;
  right: -13px;
}

.form-container {
  background-image: url("../images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding: 25px 25px;
  background-color: #3b3054;
  width: 70%;
  margin: 0 auto;
  z-index: 1;
  border-radius: 0.6rem;
  position: relative;
  top: 80px;
}

.form-container .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: auto;
  margin-bottom: 8px;
}

.form-container .form #error-text {
  color: #f46262;
  font-style: italic;
  font-size: small;
  margin-bottom: 8px;
  margin-top: 8px;
}

.form-container .form #url-field {
  padding: 15px;
  border-radius: 6px;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: #3b3054;
}

.form-container .form #submit {
  padding: 14px;
  border-radius: 6px;
  font-size: 18px;
  width: 100%;
}

.offers {
  background-color: #f0f1f6;
  padding-top: 125px;
  padding-bottom: 45px;
  z-index: -1;
}

.offers .api-results {
  margin: auto;
  width: 81%;
  border-radius: 4px;
  text-align: left;
  margin-bottom: 65px;
}

.offers .api-results .result {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  margin: 18px 0;
  background-color: #fff;
  border-radius: 5px;
}

.offers .api-results .result .normal-url {
  text-align: left;
  border-bottom: 1px solid #bfbfbf;
  border-width: 100%;
  padding: 12px 18px;
  font-size: medium;
}

.offers .api-results .result .normal-url a {
  color: #232127;
  text-decoration: none;
  word-wrap: break-word;
}

.offers .api-results .result .shortened-url {
  padding: 12px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.offers .api-results .result .shortened-url #short-url {
  margin-bottom: 12px;
  font-size: medium;
}

.offers .api-results .result .shortened-url #short-url a {
  text-decoration: none;
  color: #2acfcf;
}

.offers .api-results .result .shortened-url .copy {
  padding: 8px;
  border-radius: 5px;
  font-size: 18px;
  font-family: PoppinsBold;
  cursor: pointer;
}

.offers .api-results .result .shortened-url .copy:focus {
  background-color: #3b3054;
  opacity: 1;
}

.offers .stats {
  text-align: center;
  margin-bottom: 75px;
}

.offers .stats__heading {
  font-family: PoppinsBold;
  color: #232127;
}

.offers .stats__content {
  margin: 12px;
  font-weight: 500;
  color: #9e9aa7;
}

.offers .cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  gap: 95px;
}

.offers .cards-container .cardOne {
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  padding: 0 12px;
  margin-bottom: 9px;
}

.offers .cards-container .cardOne::after {
  width: 7px;
  height: 70px;
  background-color: #2acfcf;
  position: absolute;
  content: "";
}

.offers .cards-container .cardOne__img {
  z-index: 1;
  margin: auto;
  position: relative;
  top: -52px;
}

.offers .cards-container .cardOne__img .card-one-img {
  margin-top: 25px;
}

.offers .cards-container .cardOne .text-container__heading {
  color: #232127;
  font-family: PoppinsBold;
  margin-top: 0;
}

.offers .cards-container .cardOne .text-container__content {
  font-size: 16px;
  color: #9e9aa7;
  font-weight: 500;
  padding-bottom: 42px;
  width: 95%;
  margin: auto;
}

.offers .cards-container .cardTwo {
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  padding: 0 12px;
}

.offers .cards-container .cardTwo::after {
  width: 7px;
  height: 70px;
  background-color: #2acfcf;
  position: absolute;
  content: "";
}

.offers .cards-container .cardTwo__img {
  z-index: 1;
  margin: auto;
  position: relative;
  top: -52px;
  left: 3px;
}

.offers .cards-container .cardTwo__img__heading {
  color: #232127;
  font-family: PoppinsBold;
  margin-top: 0;
}

.offers .cards-container .cardTwo__img__content {
  font-size: 16px;
  color: #9e9aa7;
  font-weight: 500;
  padding-bottom: 42px;
  width: 95%;
  margin: auto;
}

.offers .cards-container .cardTwo__img .card-two-img {
  margin-top: 27px;
}

.offers .cards-container .cardTwo .text-container__heading {
  color: #232127;
  font-family: PoppinsBold;
  margin-top: 0;
}

.offers .cards-container .cardTwo .text-container__content {
  font-size: 16px;
  color: #9e9aa7;
  font-weight: 500;
  padding-bottom: 42px;
  width: 95%;
  margin: auto;
}

.offers .cards-container .cardThree {
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  padding: 12px;
}

.offers .cards-container .cardThree__img {
  z-index: 1;
  margin: auto;
  position: relative;
  top: -58px;
  left: 4px;
}

.offers .cards-container .cardThree__img .card-three-img {
  margin-top: 27px;
}

.offers .cards-container .cardThree .text-container {
  margin-top: -32px;
}

.offers .cards-container .cardThree .text-container__heading {
  color: #232127;
  font-family: PoppinsBold;
  margin-top: 0;
}

.offers .cards-container .cardThree .text-container__content {
  font-size: 16px;
  color: #9e9aa7;
  font-weight: 500;
  padding: 0;
  padding-bottom: 42px;
  width: 90%;
  margin: auto;
}

.get-started {
  background-color: #3b3054;
  background-image: url("../images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  text-align: center;
  padding: 45px 25px;
}

.get-started-text {
  color: #fff;
  font-family: PoppinsBold;
  margin: 0 auto;
  margin-bottom: 25px;
}

.intro-img {
  width: 100%;
}

.open {
  display: block;
}

.close {
  display: none;
}

.round-bg {
  width: 100px;
  height: 100px;
  background-color: #3b3054;
  border-radius: 50%;
  text-align: center;
}

.nav-links {
  text-decoration: none;
  color: #9e9aa7;
  font-weight: 700;
  padding: 8px 12px;
}

.nav-links:hover {
  color: #232127;
  cursor: pointer;
}

.btn {
  border: none;
  outline: none;
  color: #fff;
  background-color: #2acfcf;
  font-weight: 700;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.btn--signup {
  padding: 12px 12px;
  border-radius: 1.4rem;
  width: 110px;
  font-size: 17px;
  margin-left: 13px;
}

.footer {
  background-color: #232127;
  padding: 25px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  text-align: center;
}

.footer-container .footer-logo {
  font-size: 2.2rem;
  color: #fff;
  font-family: PoppinsBold;
}

.footer-heading {
  font-family: PoppinsBold;
  color: #fff;
  font-size: 17px;
}

.footer-link-container {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
}

.footer-link-container .footer-links {
  padding: 6px;
}

.footer-link-container .footer-links a {
  text-decoration: none;
  color: #bfbfbf;
  font-size: 16px;
}

.footer-link-container .footer-links a:hover {
  color: #2acfcf;
}

.social span {
  padding: 8px;
}

.error {
  border: 1px solid #f46262;
  color: #f46262;
}

.hidden-result {
  display: none;
}

@media screen and (min-width: 700px) {
  .intro__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .intro__container__text {
    text-align: center;
    margin: 5px;
  }
  .intro__container__text .heading {
    font-size: 2.7rem;
    font-family: PoppinsBold;
    color: #232127;
    line-height: 55px;
  }
  .intro__container__text .content {
    color: #9e9aa7;
    margin: 8px 8px 35px 8px;
    font-size: 1.3rem;
  }
  .intro__container__mockup {
    width: 70%;
    margin: auto;
  }
}

@media screen and (min-width: 920px) {
  .nav {
    margin-left: 50px;
  }
  .nav__logo {
    padding-top: 24px;
    margin-right: 28px;
  }
  .nav__logo .logo {
    width: 120%;
  }
  .nav__main {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 55% 45%;
        grid-template-columns: 55% 45%;
  }
  .nav__main__offers {
    padding: 29px 40px;
  }
  .nav__main__auth {
    padding: 24px 8px;
    text-align: center;
  }
  .nav__hamburger {
    display: none;
  }
  .intro__container__mockup {
    width: 100%;
  }
  .intro__container__mockup .intro-img {
    width: 90%;
    position: relative;
    right: -13px;
  }
  .form-container {
    background-image: url("../images/bg-shorten-desktop.svg");
    background-repeat: no-repeat;
    padding: 35px 45px;
    background-color: #3b3054;
    width: 73%;
    margin: 0 auto;
    z-index: 1;
    border-radius: 0.6rem;
    position: relative;
    top: 65px;
  }
  .form-container .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin: auto;
  }
  .form-container .form #error-text {
    color: #f46262;
    font-style: italic;
    font-size: medium;
    position: absolute;
    left: 44px;
    bottom: -2px;
  }
  .form-container .form #url-field {
    padding: 15px;
    border-radius: 6px;
    border: none;
    margin: 0 14px 0 0;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    color: #3b3054;
    width: 80%;
  }
  .form-container .form #submit {
    padding: 12px;
    border-radius: 9px;
    font-size: 18px;
    width: 20%;
    cursor: pointer;
    font-family: PoppinsBold;
    margin: 0;
  }
  .form-container .form #submit:hover {
    opacity: 0.98;
  }
  .get-started {
    background-color: #3b3054;
    background-image: url("../images/bg-boost-desktop.svg");
    background-repeat: no-repeat;
    text-align: center;
    padding: 45px 25px;
  }
  .get-started-text {
    color: #fff;
    font-family: PoppinsBold;
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: 2.8rem;
  }
  .offers {
    background-color: #f0f1f6;
    padding-top: 125px;
    padding-bottom: 45px;
    z-index: -1;
  }
  .offers .stats {
    text-align: center;
    margin-bottom: 145px;
  }
  .offers .stats__heading {
    font-family: PoppinsBold;
    color: #232127;
    font-size: 2.7rem;
    margin-bottom: 15px;
  }
  .offers .stats__content {
    margin: 0 auto;
    color: #9e9aa7;
    width: 520px;
  }
  .offers .cards-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    gap: 95px;
  }
  .offers .cards-container .cardOne {
    background-color: #fff;
    width: 420px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    padding: 0 12px;
    margin-bottom: 9px;
  }
  .offers .cards-container .cardOne::after {
    width: 7px;
    height: 70px;
    background-color: #2acfcf;
    position: absolute;
    content: "";
  }
  .offers .cards-container .cardOne__img {
    z-index: 1;
    margin: auto;
    position: relative;
    top: -52px;
  }
  .offers .cards-container .cardOne__img .card-one-img {
    margin-top: 25px;
  }
  .offers .cards-container .cardOne .text-container__heading {
    color: #232127;
    font-family: PoppinsBold;
    margin-top: 0;
  }
  .offers .cards-container .cardOne .text-container__content {
    font-size: 16px;
    color: #9e9aa7;
    font-weight: 500;
    padding-bottom: 42px;
    width: 95%;
    margin: auto;
  }
  .offers .cards-container .cardTwo {
    background-color: #fff;
    width: 420px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    padding: 0 12px;
  }
  .offers .cards-container .cardTwo::after {
    width: 7px;
    height: 70px;
    background-color: #2acfcf;
    position: absolute;
    content: "";
  }
  .offers .cards-container .cardTwo__img {
    z-index: 1;
    margin: auto;
    position: relative;
    top: -52px;
    left: 3px;
  }
  .offers .cards-container .cardTwo__img__heading {
    color: #232127;
    font-family: PoppinsBold;
    margin-top: 0;
  }
  .offers .cards-container .cardTwo__img__content {
    font-size: 16px;
    color: #9e9aa7;
    font-weight: 500;
    padding-bottom: 42px;
    width: 95%;
    margin: auto;
  }
  .offers .cards-container .cardTwo__img .card-two-img {
    margin-top: 27px;
  }
  .offers .cards-container .cardTwo .text-container__heading {
    color: #232127;
    font-family: PoppinsBold;
    margin-top: 0;
  }
  .offers .cards-container .cardTwo .text-container__content {
    font-size: 16px;
    color: #9e9aa7;
    font-weight: 500;
    padding-bottom: 42px;
    width: 95%;
    margin: auto;
  }
  .offers .cards-container .cardThree {
    background-color: #fff;
    width: 420px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    padding: 12px;
  }
  .offers .cards-container .cardThree__img {
    z-index: 1;
    margin: auto;
    position: relative;
    top: -58px;
    left: 4px;
  }
  .offers .cards-container .cardThree__img .card-three-img {
    margin-top: 27px;
  }
  .offers .cards-container .cardThree .text-container {
    margin-top: -32px;
  }
  .offers .cards-container .cardThree .text-container__heading {
    color: #232127;
    font-family: PoppinsBold;
    margin-top: 0;
  }
  .offers .cards-container .cardThree .text-container__content {
    font-size: 16px;
    color: #9e9aa7;
    font-weight: 500;
    padding: 0;
    padding-bottom: 42px;
    width: 90%;
    margin: auto;
  }
  .intro__container__mockup {
    width: 100%;
    margin: auto;
  }
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    text-align: left;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-container .footer-logo {
    font-size: 2.2rem;
    color: #fff;
    font-family: PoppinsBold;
  }
  .footer-link-container {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 18px;
    text-align: left;
  }
  .footer-link-container .footer-links {
    padding: 0;
    padding-bottom: 5px;
  }
  .footer-link-container .footer-links a {
    text-decoration: none;
    color: #bfbfbf;
  }
  .footer-link-container .footer-links a:hover {
    color: #2acfcf;
  }
  .footer {
    background-color: #232127;
    padding: 45px;
  }
  .social {
    margin-top: 19px;
  }
  .social span {
    padding: 15px;
    cursor: pointer;
  }
}

@media screen and (min-width: 1300px) {
  .nav__logo {
    margin-left: 48px;
  }
  .offers {
    background-color: #f0f1f6;
    padding-top: 125px;
    padding-bottom: 45px;
    z-index: -1;
  }
  .offers .api-results {
    margin: auto;
    margin-bottom: 95px;
    width: 80%;
    border-radius: 4px;
    text-align: left;
  }
  .offers .api-results .result {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    margin: 18px 0;
    background-color: #fff;
    border-radius: 5px;
  }
  .offers .api-results .result .normal-url {
    text-align: left;
    border: none;
    border-width: 100%;
    font-size: 18px;
    padding: 0;
    margin: auto 36px;
  }
  .offers .api-results .result .normal-url a {
    color: #232127;
    text-decoration: none;
    word-wrap: break-word;
  }
  .offers .api-results .result .shortened-url {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto 0;
  }
  .offers .api-results .result .shortened-url #short-url {
    margin-bottom: 0;
    font-size: 18px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .offers .api-results .result .shortened-url #short-url a {
    text-decoration: none;
    color: #2acfcf;
  }
  .offers .api-results .result .shortened-url .copy {
    padding: 12px;
    border-radius: 9px;
    font-size: 18px;
    font-family: PoppinsBold;
    width: 100px;
  }
  .offers .stats {
    text-align: center;
    margin-bottom: 75px;
  }
  .offers .stats__heading {
    font-family: PoppinsBold;
    color: #232127;
  }
  .offers .stats__content {
    margin: 12px;
    font-weight: 500;
    color: #9e9aa7;
    margin: auto;
  }
  .offers .cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
  }
  .offers .cards-container .cardOne {
    background-color: #fff;
    width: 350px;
    text-align: left;
    border-radius: 10px;
    padding: 0 12px;
    margin-left: 72px;
    margin-right: 22px;
    height: 300px;
  }
  .offers .cards-container .cardOne::after {
    position: absolute;
    width: 44px;
    height: 7px;
    left: 446px;
    content: "";
    background-color: #2acfcf;
  }
  .offers .cards-container .cardOne .text-container {
    margin: -32px 20px 0 20px;
  }
  .offers .cards-container .cardOne .text-container__heading {
    color: #232127;
    font-family: PoppinsBold;
    margin-top: 0;
  }
  .offers .cards-container .cardOne .text-container__content {
    font-size: 16px;
    color: #9e9aa7;
    font-weight: 500;
    padding: 0;
    width: 90%;
    padding-bottom: 0;
    margin: 0;
  }
  .offers .cards-container .cardOne__img {
    z-index: 1;
    position: relative;
    top: -52px;
    margin-left: 20px;
  }
  .offers .cards-container .cardOne__img .card-one-img {
    margin-top: 25px;
  }
  .offers .cards-container .cardTwo {
    background-color: #fff;
    width: 350px;
    text-align: left;
    border-radius: 10px;
    margin-top: 45px;
    margin-left: 22px;
    margin-right: 22px;
    height: 300px;
  }
  .offers .cards-container .cardTwo::after {
    position: absolute;
    width: 44px;
    height: 7px;
    left: 864px;
    content: "";
    background-color: #2acfcf;
  }
  .offers .cards-container .cardTwo__img {
    z-index: 1;
    margin-left: 20px;
    position: relative;
    top: -52px;
    left: 3px;
  }
  .offers .cards-container .cardTwo__img .card-two-img {
    margin-top: 27px;
  }
  .offers .cards-container .cardTwo .text-container {
    margin: -32px 20px 0 20px;
  }
  .offers .cards-container .cardTwo .text-container__heading {
    color: #232127;
    font-family: PoppinsBold;
    margin-top: 0;
  }
  .offers .cards-container .cardTwo .text-container__content {
    font-size: 16px;
    color: #9e9aa7;
    font-weight: 500;
    padding: 0;
    padding-bottom: 0;
    width: 90%;
    margin: 0;
  }
  .offers .cards-container .cardThree {
    background-color: #fff;
    width: 350px;
    text-align: left;
    border-radius: 10px;
    padding: 12px;
    margin: 0;
    margin-top: 85px;
    margin-left: 22px;
    margin-right: 22px;
    height: auto;
  }
  .offers .cards-container .cardThree .text-container {
    margin: -32px 20px 0 20px;
  }
  .offers .cards-container .cardThree .text-container__heading {
    color: #232127;
    font-family: PoppinsBold;
    margin-top: 0;
  }
  .offers .cards-container .cardThree .text-container__content {
    font-size: 16px;
    color: #9e9aa7;
    font-weight: 500;
    padding: 0;
    padding-bottom: 42px;
    width: 90%;
    margin: 0;
  }
  .offers .cards-container .cardThree__img {
    z-index: 1;
    margin-left: 20px;
    position: relative;
    top: -58px;
    left: 4px;
  }
  .offers .cards-container .cardThree__img .card-three-img {
    margin-top: 27px;
  }
  .intro__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .intro__container__text {
    text-align: left;
    margin-left: 95px;
    margin-right: 45px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 80%;
  }
  .intro__container__text .heading {
    font-size: 3.5rem;
    font-family: PoppinsBold;
    color: #232127;
    line-height: 75px;
    margin: 0;
  }
  .intro__container__text .content {
    color: #9e9aa7;
    margin-bottom: 25px;
    font-size: 1.1rem;
    width: 80%;
  }
  .intro__container__mockup {
    width: 100%;
    position: relative;
    right: -62px;
  }
  .intro__container__mockup .intro-img {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .mob-nav {
    position: relative;
    top: 90px;
  }
  .mob-nav ul {
    margin: auto;
    background-color: #3b3054;
    border-radius: 12px;
    width: 90%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 25px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mob-nav li {
    margin: 15px 12px;
    color: #fff;
    font-weight: 700;
    padding: 0;
  }
  .mob-nav li > .links {
    color: #fff;
    text-decoration: none;
  }
  .mob-nav .line {
    width: 90%;
    height: 2px;
    background-color: #bfbfbf;
  }
  .btn--mob {
    width: 200px;
    padding: 12px;
    border-radius: 1.3rem;
    font-size: 18px;
  }
  .intro__container__mockup {
    width: 96%;
    margin: auto;
  }
  .offers .api-results {
    width: 88%;
  }
}
/*# sourceMappingURL=style.css.map */